# Pandas

In [4]:
import pandas as pd

## 1. 시리즈 (Series)

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [5]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [7]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

## * 시리즈 연산

In [8]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

## * 시리즈 인덱싱

In [10]:
s[1], s["부산"]

(3448737, 3448737)

In [12]:
#슬라이싱
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [14]:
s["부산":"대구"] #대구도 포함

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

## * 편리한 인덱싱

In [15]:
s0 = pd.Series(range(3), index=["a", "b", "c"])
s0

a    0
b    1
c    2
dtype: int64

In [16]:
s0.a    #라벨 값이 영문일 경우 점(.)을 이용하여 인덱스 값에 접근 가능

0

## 시리즈와 딕셔너리 자료형

In [17]:
"서울" in s

True

In [18]:
for k, v in s.items():
    print("%s = %d" % (k, v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

## 데이터 프레임 (Data Frame)

In [6]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [13]:
index = ["서울", "부산", "인천", "대구"]
df.index = index
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [22]:
df.columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]

df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [23]:
df.values

array([[9904312, 9631482, 9762546, 9853972, '수도권', 0.0283],
       [3448737, 3393191, 3512547, 3655437, '경상권', 0.0163],
       [2890451, 2632035, 2517680, 2466338, '수도권', 0.0982],
       [2466052, 2431774, 2456016, 2473990, '경상권', 0.0141]], dtype=object)

In [24]:
df.index.name = "도시"
df.columns.name = "특성"
df

특성       지역     2015     2010     2005 2000  2010-2015 증가율
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [25]:
df.T

도시                  서울       부산       인천       대구
특성
지역             9904312  3448737  2890451  2466052
2015           9631482  3393191  2632035  2431774
2010           9762546  3512547  2517680  2456016
2005           9853972  3655437  2466338  2473990
2000               수도권      경상권      수도권      경상권
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [26]:
df.지역     #df.['지역']으로도 가능

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 지역, dtype: int64

In [28]:
df['temp'] = [1,2,3,4]
df

특성       지역     2015     2010     2005 2000  2010-2015 증가율  temp
도시
서울  9904312  9631482  9762546  9853972  수도권         0.0283     1
부산  3448737  3393191  3512547  3655437  경상권         0.0163     2
인천  2890451  2632035  2517680  2466338  수도권         0.0982     3
대구  2466052  2431774  2456016  2473990  경상권         0.0141     4

## * 열 인덱싱

In [32]:
df['2010']  # 하나의 열만 인덱싱하면 시리즈가 반환

도시
서울    9762546
부산    3512547
인천    2517680
대구    2456016
Name: 2010, dtype: int64

In [33]:
df[["2010", "2015"]] # 여러개의 열을 인덱싱하면 부분적인 데이터프레임이 반환

특성     2010     2015
도시
서울  9762546  9631482
부산  3512547  3393191
인천  2517680  2632035
대구  2456016  2431774

## * 행 인덱싱

In [7]:
df[:1]  # 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱(slicing)을 해야 한다.

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283

In [14]:
df["서울":"부산"]

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163

## * 개별 데이터 인덱싱

In [16]:
df['지역']['서울']

'수도권'

In [18]:
# 가장 보편적으로 사용
df['2015'][1]   #부산

3448737

In [22]:
df.지역[0]  # 익숙해지면 이렇게 사용

'수도권'

In [21]:
df.지역.서울

'수도권'